.main-tables-container {
    display: flex;
    width: 930px;
    margin: 0 auto;    
}

.product-cards--container{
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}

.plans-container--slider {
    justify-content: center;
    /* cualquiera de las siguientes opciones para quitar la barra horizontal de los precios */
    /* overflow-x: unset; */
    /* overflow-x: initial; */
    overflow-x: hidden;
}

